/* GLOBAL */
html
  font-family: Helvetica, sans-serif
  background-color: black
  color: white

  h1
    text-align: center
    color: white
    font-size: 40px
    margin: 0px 0px 10px 0px
    text-shadow: 4px 3px purple

  p
    text-align: center

  .maths
    width: 100%
    text-align: center
    .split
      padding: 0px 20px
      display: inline-block

#loom
  margin: auto
  display: block
  height: 400px

svg
  margin: auto
  display: block

  .dot
    circle
      fill: #999

  text
    font: 14px sans-serif
    font-weight: bold
    fill: grey


  .link
    fill: none
    stroke: #555
    stroke-opacity: 1
